/* Header Stuffs */
body {
	color: #999999;
}

.top-bar {
	background-color: white;
	width: 100%;
}

.header div {
	display: inline-block;
	background-color: white;
}

.nav div {
	display: inline-block;
	margin-right: ;
}

/* Content Stuffs */
.content {
	height: 100%;
	background-color: #fafafa;
	padding: 20px;
}

.posting {
	width: 60%;
	background-color: white;
	padding: 30px;
	position: relative;
	margin-bottom: 15px;
	border: 1px solid #e6e6e6;
	color: #737373;
}

#new-post div {
	display: inline-block;
	position: absolute;
}

.new-post-text {
	font-size: 1.2em;
	left: 100px;
	bottom: 15px;
	color: #999999;
}

.profile-pic {
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 50%;
	bottom: 10px;
	z-index: 30;
}

.post-info div {
	display: inline-block;
}

.highlight-text {
	color: #00ab6b;
}